/* nel selettore :root vengono definite le variabili globali
--colore-principale viene usata come sfondo della card
--spaziatura controlla il padding
--colore-testo viene applicata al titolo
Se il valore di una variabile cambia, tutte le proprietà
cha la utilizzano vengono aggiornate automaticamente 
Si mette il cancelletto con il colore perchè quel colore
deve essere identificato in modo univoco */
:root {
    --colore-principale: #3498db;
    --colore-testo: #2c3e50;
    --spaziatura: 20px;
}

.card {
    background-color: var(--colore-principale);
    padding: var(--spaziatura);
    color: white;
}

h1 {
    color: var(--colore-testo);
}

/* pseudo elementi si legano alla classe
::before aggiunge elementi prima
::after aggiunge elementi dopo l'elemento
Sono creati direttametne dal css e non esistono
realmente nel codice HTML */

.messaggio::before {
    content: "⚠ ";
    color: red;
}


.messaggio::after {
    content: " ✔";
    color: green;
}

/* Transizioni e Animazioni 

transition: crea un effetto fluido quando
l'elemento cambia dimensione durante l'hover

transform: ingrandisce il box al passaggio del mouse

@keyframes: definisce un'animazione che modifica
il colore dello sfondo nel tempo

animation: cambioColore 3s infinite
esegue l'animazione continuamenteo ogni 3 secondi */

.box {
    width: 100px;
    height: 100px;
    background-color: steelblue;
    transition: transform 0.5s;
    animation: cambioColore 3s infinite;
}

.box:hover {
    transform: scale(1.2);
}

@keyframes cambioColore {
    0% {
    background-color: steelblue;
    }

    50% {
    background-color: coral;
    }

    100% {
    background-color: steelblue;
    }
}


/* display e visibility 
box1 viene visualizzato normalmente come 
elemento di blocco

box2 è invisibile ma continua ad occupare spazio
nella pagina

box3 viene completamente rimosso dal layout e non occupa
alcuno spazio visibile o strutturale*/
.box1 {
    display: block;
    background-color: lightblue;
}

.box2 {
    visibility: hidden;
    background-color: lightgreen;
}

.box3 {
    display: none;
    background-color: coral;
}